html {scroll-behavior: smooth;}
body {
	color:#4C4C4C;
	font-family:Roboto, Arial, sans-serif;
	position:relative;
}
.header {
	margin-top:-10px;
	padding: 0 50px;
	height:64px;
	line-height:64px;
}
.header img {vertical-align:middle;}

.header .menu {
	float:right;
	font-size: 18px;
}
.header .menu a, .enter {
	margin-left:50px;
	color: #333333;	
	text-decoration:none;
}
.header .menu .enter{
	padding: 10px 30px;
	width: 30px;
	box-sizing: border-box;
	border: 1px solid #333333;
	border-radius: 20px;
}
.header .menu .enter:hover{
	background: linear-gradient(82.76deg, #333333 9.37%, #666666 88.91%);
	color:white;
    -webkit-transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 880px) {
	.header .menu {
	    font-size: 16px;
	}
	.header .menu a {
		margin-left:15px;
	}
}
.block-top {
    height: ;
}
	.block-top .wrapper {
		display:flex;
		justify-content:center;
        overflow: hidden;
	}
	.block-top .wrapper .left {
		width:40%;
        position: relative;
	}
    .block-top .wrapper .left .button {
    display: inline-block;
    margin-right: 30px;
    text-decoration:none;
    padding: 10px 30px;
	width: 170px;
    height: 40px;
	box-sizing: border-box;
    background: linear-gradient(90deg, #FCCB21 0%, #FF8516 100%);
	border-radius: 20px;
    color:white;
    
}
.block-top .wrapper .left h1{
    
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 84px;
}
    .block-top .wrapper .left h3{
    width: 600px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    }
	.block-top .wrapper .right {
		width:40%;
        height: 700px;
}
@media screen and (max-width: 940px) {
	.block-top .icons .item {
		margin-right:5px;
	}
}
        
.howto {
    background:linear-gradient(90deg, #FCCB21 0%, #FF8516 100%);
}
.howto h1{
    color: white;
    font-size: 48px;
    text-align: center;
}
.howto .wrapper {
    padding-top:50px;
	padding-bottom:50px;
}
.howto .items {
    display:flex;
    justify-content: space-around;
    width: 100%;
    margin-top:70px;
}
.howto .items .item {
    border-radius: 30px;
    width:550px;
    height: 200px;
    position:relative;
    margin-bottom:65px;
    background: white;
}	
.howto .items .item img{
	position: relative;
	margin-bottom: 50px;
    left: 160px;
    width:200px;
}
.howto .items .item h3{
	position: relative;
	top:100px;
	left:180px;	
}
.howto .items .item h3 {
    font-weight: normal;
    font-size: 28px;
    color:#000;
}
.howto .items .item p {
    font-size:14px;
}
.browser {
}
	.browser .wrapper {
		display:flex;
		justify-content:center;
        overflow: hidden;
	}
	.browser .wrapper .left {
        top:400px;
		width:30%;
        position: relative;
	}
}
.browser .wrapper .left h1{
color: black;font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
}
    .browser .wrapper .left h3{
    width: 600px;
        font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
    }
.browser .wrapper .left ul {
    list-style-type: none;
}
.browser .wrapper .left ul li {
    font-size: 18px;
    line-height: 18px;
    position: relative;
}
.browser .wrapper .left ul li::before {
    color: #FCCB21;
    content:"\2022";
    font-size: 26px;
    font-weight: 700;
    left: -15px;
    line-height: 18px;
    position: absolute;
    top: 0;
}
	.browser .wrapper .right {
        background: url(../img/browserwindow.jpg);
		width:90%;
        height: 900px;
        scale:0.9;
		background-repeat: no-repeat;	
}
@media screen and (max-width: 940px) {
	.browser .icons .item {
		margin-right:5px;
	}
}
.what {
    background:linear-gradient(90deg, #FCCB21 0%, #FF8516 100%);;	
}
.what .wrapper {
    padding-top:30px;
	padding-bottom:30px;
}
.what .items {
    display: block;
    width: 20%-20%;
    margin-top:130px;
}
.what .items .item {
    left: 10%;
    border-radius: 30px;
    width:80%;
    height: 300px;
    position:relative;
    margin-bottom:65px;
    background: white;
}	
.what .items .item img, .howto .items .item img {
    position: absolute;
    margin-top: 40px;
    margin-left: 5px;
    width:200px;
    scale:0.5;
}
.what .items .item h1{
	position: relative;
	margin-top:10px;
    margin-left: 165px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}
.what .items .item h3{
    margin-left: 165px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
.pluses{
    background-image: url(../img/circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.pluses .hh{
	position: relative;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
}
.pluses .wrapper h1{
    position: relative;
    left:45%;
    bottom: 30px;
}
.pluses .wrapper .items h1{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
    position: relative;
    bottom:-10px;
}
.pluses .wrapper .items .item h1{
   right:80px;
}
.pluses .wrapper .items .item2 h1{
   left:80px;
}
.pluses .wrapper  h3{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
}
.pluses .wrapper .item h3{
    text-align: right;
    right:80px;
}

.pluses .wrapper .item2 h3{
    text-align: left;
}
.pluses .wrapper .items .laptop{
    top:-20px;
    left:60px;
    position: relative;
}
.pluses .wrapper .items{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 20%-20%;
}
@media screen and(max-width: 1400px){
	.pluses .wrapper{
		display:none;
	}
}
.zap {
    background:linear-gradient(90deg, #FCCB21 0%, #FF8516 100%);;	
}
.zap .wrapper {
    padding-top:30px;
    margin-bottom: -30px;
}
.zap .items {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top:100px;
    margin-bottom: 100px;
}
.zap a{
    color:white;
    margin-top:10px;
    position: relative;
    text-decoration: none;
}
.zap .items .item {
    text-align: center;
    left: 10%;
    border-radius: 30px;
    width:550px;
    height: 240px;
    position:relative;
    margin-bottom:65px;
    background: white;
}
.zap .items .item h1{
	position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}
.zap .wrapper .lower{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-around;
    width:100%;
    bottom: 150px;
}
.zap .wrapper .lowlower{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-around;
    width:100%;
    bottom: 150px;
}
.zap button{
    border:none;
    position: relative;
    color:white;  
    font-size: 24px;
    line-height: 28px;
    background: linear-gradient(90deg, #333333 0%, #444444 100%);
    border-radius: 30px;
    width: 200px;
    height: 40px;
}
.reg {background: linear-gradient(177.86deg, #FCCB21 1.72%, #FF8516 98.2%);}
.reg h1{
    position: relative;
    top:100px;
    color:white;
    text-align: center;
}
	.reg .wrapper {
        padding-top: 50px;
		display:flex;
		justify-content:center;
		width:100%;
	}
	.reg .right {
        border-radius: 30px;
        padding: 20px 10px;
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
		width:600px; 
        background-color: white;
	}
	
	@media screen and (max-width: 800px) {
		.reg .wrapper {
			display:block;
		}
		.reg .right {
			width:100%;
		}
	}
		.reg input:not(.button) {
			margin-left: 100px;
			border:none;
			border-bottom: 1px solid #e0e0e0;
			font-size: 12px;
			color: #888888;
			padding:20px 30px;
			text-transform:uppercase;
			margin-bottom:13px;
			width:55%;
		}
		.reg input:hover:not(.button) {
			border: 1px solid #02A3FF;
		}
		.reg input:focus:not(.button) {
			border: 1px solid #02A3FF;
			outline: #02A3FF auto 1px;
		}
			.reg .button {
                border:none;
                margin-left: -260px;
                margin-top: 90px;
                color:white;
                width: 150px;
                position: absolute;
                padding: 20px 20px;
                border-radius: 30px;
                background: linear-gradient(88.1deg, #333333 5.11%, #696969 100%);
				
			}
.footer {
	height:444px;
	line-height:64px;
	background: #FF8516
}
		.footer img {
            margin-top: 150px;
            margin-left: 250px;
}
